.canvas-container {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.canvas-container canvas {
  width: min(calc(100vh - 310px), 100%);
  height: auto;
}

#game-buttons-container {
  margin: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#game-buttons-container button {
  border: none !important;
  height: 10vh;
  width: 10vh;
  margin: 0px;
  padding: 0px;
}

#key-up {
  background: no-repeat center/cover url('../img/key-up.webp');

  /* Firefox */
  image-rendering: crisp-edges;
  /* Chromium + Safari */
  image-rendering: pixelated;
}

#key-left {
  background: no-repeat center/cover url('../img/key-left.webp');

  /* Firefox */
  image-rendering: crisp-edges;
  /* Chromium + Safari */
  image-rendering: pixelated;
}

#key-down {
  background: no-repeat center/cover url('../img/key-down.webp');

  /* Firefox */
  image-rendering: crisp-edges;
  /* Chromium + Safari */
  image-rendering: pixelated;
}

#key-right {
  background: no-repeat center/cover url('../img/key-right.webp');

  /* Firefox */
  image-rendering: crisp-edges;
  /* Chromium + Safari */
  image-rendering: pixelated;
}
