body {
  background-color: #e5d4bf;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 16px);
}
.canvas-container {
  display: flex;
  justify-content: center;
  flex-grow: 0;
}

.canvas-container canvas {
  /*
  8px margin around body, 
  11px border around canvas, 
  keys are 20vh with 20px margin
  */
  width: min(calc(80vh - 78px), 100%);
  height: auto;

  border-style: solid;
  border-width: 11px;
  -moz-border-image: url('./img/border2.webp') 8 8 8 8 repeat repeat;
  -webkit-border-image: url('./img/border.webp') 8 8 8 8 repeat repeat;
  -o-border-image: url('./img/border.webp') 8 8 8 8 repeat repeat;
  border-image: url('../img/border.webp') 11 11 11 11 repeat repeat;
}

#game-buttons-container {
  margin: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

#game-buttons-container button {
  border: none !important;
  height: 10vh;
  width: 10vh;
  margin: 0px;
  padding: 0px;
}

#key-up {
  background: no-repeat center/cover url('../img/key-up.webp');

  /* Firefox */
  image-rendering: crisp-edges;
  /* Chromium + Safari */
  image-rendering: pixelated;
}

#key-left {
  background: no-repeat center/cover url('../img/key-left.webp');

  /* Firefox */
  image-rendering: crisp-edges;
  /* Chromium + Safari */
  image-rendering: pixelated;
}

#key-down {
  background: no-repeat center/cover url('../img/key-down.webp');

  /* Firefox */
  image-rendering: crisp-edges;
  /* Chromium + Safari */
  image-rendering: pixelated;
}

#key-right {
  background: no-repeat center/cover url('../img/key-right.webp');

  /* Firefox */
  image-rendering: crisp-edges;
  /* Chromium + Safari */
  image-rendering: pixelated;
}
